
.sidebar {
	height: 100vh;
	width: 300px;
	background-color: teal;
	position: absolute;
}

.no-padding {
   padding: 0 !important;
   margin: 0 !important;
}

.margin-top-1 {margin-top: 1rem;}
.margin-top-2 {margin-top: 2rem;}
.margin-top-3 {margin-top: 3rem;}

.usuarioNombre {font-size: 3rem;}
.usuarioCargo {font-size: 2rem;}

.text-center>div>div.well:hover {
	background-color: white;
	cursor: pointer;
}

.font-well-sidebar {font-size: 2.5rem;}
